const tools = require('./util/objectHelper');
const pckg = require('./package.json');

module.exports = {
	'prefix': '!',
	'token': '',
	'ownerId': '',
	'throttlingUsages' : 5,
	'throttlingDuration': 30,
	'richEmbed': true,
	'giphyToken': '',
	'gifRating': 'g',
	'name': tools.upperFirst(pckg.name),
	'description': pckg.description,
	'version': pckg.version
};