{
	"giphyToken": "",
	"gifRating": "g",
	"language": "fr",
	"ownerID": 0,
	"prefix": "!",
	"richEmbed": true,
	"richEmbedColors": {
		"bot": "RED",
		"games": "BLUE",
		"information": "GREY",
		"moderation": "ORANGE"
	},
	"token": "",
	"version": {
		"name": "Minet",
		"number" : "1.1.0"
	},
	"name": "Bernard Minet",
	"defaultChannel": "",
	"rb2": ""
}